<a id="myname" style="font-weight:bold;color:gray;"></a>
<li class="c-header-nav-item dropdown">
	<a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
		<div class="c-avatar" style="font-size:20px;"><i class="cil-settings"></i></div>
	</a>
	<div class="dropdown-menu dropdown-menu-right pt-0">
		<div class="dropdown-header bg-light py-2">
			<strong>계정</strong>
		</div>
		<a class="dropdown-item" href="/admin/logout">
			<i class="cil-account-logout pr_10"></i> 로그아웃
		</a>
		<a class="dropdown-item" href="/admin/changePassword">
			<i class="cil-dialpad pr_10"></i> 패스워드 변경
		</a>
	</div>
</li>
<script>
	$.ajax({
		type: 'GET',
		url: '/admin/myname',
		success: function(result) {
			$('#myname').text(result.name + "님");
		}
	});
</script>