<!DOCTYPE html>
<html lang="en">
	<head>
		<title>유한대학교 학생상담센터</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/js/jquery-latest.min.js"></script>
		<script src="/js/tui-code-snippet.min.js"></script>
		<script src="/js/tui-calendar.js"></script>
		<link rel="stylesheet" href="/css/coreui.min.css">
		<link rel="stylesheet" type="text/css" href="/css/tui-calendar.css" />
		<link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
			  integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
			  crossorigin="anonymous">
		<style>
			#date{
				font-size : 25px;
			}
			.toggle_wrap{
				float: right;
				margin-right: 1.25rem;
				margin-top: 0.25rem;
				font-size: 15px;
			}
			.font-size-15{
				font-size: 15px!important;
			}
			.fixed_btn_position{
				top: 20%;
				left: 90%;
			}
			.toggle_normal_wrap{
				float: right;
				margin-top: 0.25rem;
				font-size: 15px;
			}
			.card{
				width:48%;
				margin:0 auto;
				background-color: rgba(0,0,0,0);
            	border-radius: 0.5em!important;
				border: 0!important;
            }
            .msg_card_body{
				background-color: white!important;
				border-radius: 0.5em!important;
				border: 1px #bbb solid !important;
				margin-bottom: 20px;
				padding-top: 5vh;
                overflow-y: auto;
            }
            .card-footer{
                border: 0 !important;
				background-color: rgba(0,0,0,0);
            }
            .type_msg{
				background-color: #fff !important;
                border: 1px #bbb solid !important;
				border-top-left-radius: 0.5em!important;
				border-bottom-left-radius: 0.5em!important;
                color:black !important;
                height: 50px !important;
                overflow-y: auto;
				padding-bottom: 10px;
            }
            .type_msg:focus{
                box-shadow:none !important;
                outline:0px !important;
            }
            .send_btn{
				width:3vw;
				padding-right: 1.3rem;
				background-color: #0275d8 !important;
                border: 0 !important;
                cursor: pointer;
				color: white !important;
				display: flex;
  				justify-content: center;
            }
            .msg_cotainer{
                margin-top: auto;
                margin-bottom: auto;
                border-radius: 0.5rem;
                padding: 10px;
                position: relative;
				max-width: 70%;
				text-align: left;
				background-color: #EAEAEA !important;
            }
            .msg_cotainer_send{
                margin-top: auto;
                margin-bottom: auto;
                border-radius: 0.5rem;
                padding: 10px;
                position: relative;
				max-width: 70%;
				text-align: left;
				background-color: #0275d8;
				color: white;
            }
            .msg_time{
                position: relative;
                margin-left: 5px;
				margin-top: auto;
                color: rgba(0,0,0,0.5);
                font-size: 10px;
            }
            .msg_time_send{
                position: relative;
				margin-right: 5px;
				margin-top: auto;
                color: rgba(0,0,0,0.5);
                font-size: 10px;
            }
            .msg_name{
                position: absolute;
                left: 3px;
                top: -23px;
                color: rgba(0,0,0,0.7);
                font-size: 15px;
                font-weight: bold;
				min-width: 130px;
				text-align: left;
            }
            .msg_name_send{
                position: absolute;
                right: 7px;
                top: -23px;
                color: rgba(0,0,0,0.7);
                font-size: 15px;
                font-weight: bold;
				min-width: 130px;
				text-align: right;
            }
            .msg_head{
                position: relative;
            }
			.msg_card_body::-webkit-scrollbar{
				width:7px;
			}
			.msg_card_body::-webkit-scrollbar-thumb{
				border-radius:3px;
				background:rgba(0,0,0,0.3);
			}
			.pr_30{
				padding-right:30px;
			}
			.pr_10{
				padding-right:10px;
			}
    	</style>
	</head>
	<body class="c-app">
		<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show c-sidebar-unfoldable" id="sidebar">
			<%- include ('adminNav'); -%>
			<button
				class="c-sidebar-minimizer c-class-toggler"
				type="button"
				data-target="_parent"
				data-class="c-sidebar-minimized"
			></button>
		</div>
		<div class="c-wrapper c-fixed-components">
			<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
				<button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar"
						data-class="c-sidebar-show">
					<i class="cil-hamburger-menu"></i>
				</button>
				<a class="c-header-brand d-lg-none" href="#">
					<i class="cil-hamburger-menu"></i>
				</a>
				<button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar"
					data-class="c-sidebar-lg-show" responsive="true">
					<i class="cil-hamburger-menu"></i>
				</button>
				<ul class="c-header-nav ml-auto mr-4">
				<%- include ('adminAccount'); -%>
				</ul>
				<div class="c-subheader px-3">
					<ol class="breadcrumb border-0 m-0">
						<li class="breadcrumb-item">채팅</li>
						<li class="breadcrumb-item active">채팅 상담</li>
					</ol>
				</div>
			</header>
			<div class="c-body">
				<main class="c-main">
					<div class="container-fluid" style="height:70vh!important;">
						<div class='card' id='chattingCard' style="height:inherit; margin:0!important; float:left; position:relative;"> 
							<div id='bodyChat' class='card-body msg_card_body'>
							</div>
							<a id="saveLog" style="position:absolute; bottom:90px; right:30px; cursor:dafault; color:lightgray;"> 채팅 내역 저장 </a>	
							<div class='card-footer' style='padding:0!important;'> 
								<div class='input-group'> 
									<input type='text' id='msgForm' class='form-control type_msg' placeholder='메시지 전송...'/> 

									<div id='btnSend' class='input-group-append'> 
										<span class='input-group-text send_btn'>
											<i class='fa fa-paper-plane'></i>
										</span> 
									</div> 
								</div> 
							</div> 
						</div>
						<div class='card ml-2' id='dailyCalendarCard' style="height:inherit; float:right; overflow : hidden; ">
							<div class="row mb-1 justify-content-between">
								<div class="date-area ml-3 float-left">
									<h2><span id="date"></span></h2>
								</div>
								<div class="mr-4 float-right">
									<button id="nowBtn" class="btn btn-outline-primary">Today</button>
									<button id="prevBtn" class="btn btn-outline-primary"><i class="cil-chevron-left"></i></button>
									<button id="nextBtn" class="btn btn-outline-primary"><i class="cil-chevron-right"></i></button>
								</div>
							</div>
							<div id="calendar"></div>
						</div>
					</div>
				</main>
				<footer class="c-footer">
					<div><a href="https://coreui.io">CoreUI</a> &copy; 2020 creativeLabs.</div>
					<div class="ml-auto">
						Powered by&nbsp;<a href="https://coreui.io/">CoreUI</a>
					</div>
				</footer>
			</div>
		</div>
		<script src="/js/coreui.bundle.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			$(function() {
				function getLogTime() {
					let year = new Date().getFullYear();
					let month = new Date().getMonth() + 1;
					let date = new Date().getDate();
					let hour = ("00" + new Date().getHours()).slice(-2);
					let minute = ("00" + new Date().getMinutes()).slice(-2);
					
					return `（${year}년 ${month}월 ${date}일 ${hour}시 ${minute}분）`;
				}
				
				const socket = io('/chat', {transports:['websocket']});
				
				// xss 취약점 막는 함수, php의 htmlspecialcharacter 과 같은 함수
				function escapeHtml(str) {
					var map = {
						'&': '&amp;',
						'<': '&lt;',
						'>': '&gt;',
						'"': '&quot;',
						"'": '&#039;'
					};
					return str.replace(/[&<>"']/g, function(m) { return map[m]; });
				}
				
				const empid = "<%= empid %>";
				const empname = "<%= empname %>";
				let serialNum = "";
				
				let isProgress = false;
				
				let currentStuCode = "";
				let currentSerialNo = 0;
				
				socket.on("waiting", function(stuname) {
					if($('#stuAlert')) $('#stuAlert').remove();
					
					if($('#waitingAlert')) $('#waitingAlert').remove();
					
					$("#bodyChat").after(`
						<div id="waitingAlert" style="display:none; position:absolute; bottom:85px; left:20px; background-color:white;">
							${stuname} 학생, 상담 대기 중
							<button id="waitingBtn" class="btn btn-light btn-sm" style="margin-top:-4px; margin-left:5px;"> 수락 </button>
						</div>
					`);
					
					$('#waitingAlert').fadeIn();
					
					$("#waitingBtn").click(function(e) {
						if(isProgress) {
							if(confirm("기존의 상담 중인 학생이 있습니다, 상담을 종료하시겠습니까?")) {
								socket.emit('finish');
								location.reload(true);
							}
						}
						else {
							isProgress = true;
							socket.emit('okay');
							$("#waitingAlert").remove();
						}
					});
				});
				
				socket.on("outError", function() {
					isProgress = false;
					alert("상대 학생이 채팅을 나가 비정상적으로 종료되었습니다.");
				});
				
				socket.emit("open", {
					empid: empid,
					empname: empname
				});
				
				socket.on("join", function(data) {
					currentSerialNo = data.stuinfo.serialno;
					
					$("#bodyChat").after(`
						<div id='stuAlert' style="position:absolute; bottom:85px; left:20px; background-color:white;">
							${data.stuinfo.name} 학생과 상담 중
							<button id="closeChatBtn" class="btn btn-danger btn-sm" style="margin-top:-4px; margin-left:5px;"> 종료 </button>
						</div>
					`);
					
					$('#closeChatBtn').click(function(e) {
						isProgress = false;
						socket.emit('finish');
						location.reload(true);
					});
					
					if(data.chatlog != null) {
						let log = data.chatlog.split('\n');
						for(let i=0; i<log.length-1; i++) {
							if(log[i].includes('학생')) {
								$("#bodyChat").append(`
									<div class='d-flex justify-content-start mb-5 mt-2'>
										<div class='msg_cotainer'>
											<span class='msg_name' style='cursor:pointer;'> ${data.stuinfo.name} 학생 </span>
											${escapeHtml(log[i].split('：')[1].split('（')[0])}
										</div>
										<div class='msg_time'>
											${log[i].split('（')[1].split('일')[1].split('시')[0].trim() + ":" + log[i].split('（')[1].split('시')[1].split('분')[0].trim()}
										</div>

										<div class='stuInfo' style='display:none; position:absolute; height:140px; width:240px; background-color:#3c4b64;
																	border-radius:5px; padding:7px; line-height:30px; z-index:999;'>
											<div style='position:absolute; color:white'>
												<table>
													<tr>
														<td style='width:70px; font-weight:bold;'>
															학번
														</td>
														<td>
															${data.stuinfo.code}
														</td>
													</tr>
													<tr>
														<td style='width:70px; font-weight:bold;'>
															학과
														</td>
														<td>
															${data.stuinfo.major}
														</td>
													</tr>
													<tr>
														<td style='width:70px; font-weight:bold;'>
															전화번호
														</td>
														<td>
															${data.stuinfo.phone}
														</td>
													</tr>
													<tr>
														<td style='width:70px; font-weight:bold;'>
															생년월일
														</td>
														<td>
															${data.stuinfo.birth}
														</td>
													</tr>
												</table>
											</div>
										</div>
									</div>
								`);

								$('.msg_name').unbind('click');
								$('.msg_name').click(function(e) {
									if($(this).parents(['.d-flex']).children('.stuInfo').is(':visible') == true) {
										$(this).parents(['.d-flex']).children('.stuInfo').slideToggle();
									}
									else {
										$('.stuInfo:visible').each(function (index, item) {
											$(this).hide();
										});
										$(this).parents(['.d-flex']).children('.stuInfo').slideToggle();
										$(this).parents(['.d-flex']).children('.stuInfo').offset({top: $(this).offset().top + 23, left: $(this).offset().left - 3});
									}
								});
							}
							else {
								$("#bodyChat").append(`
									<div class='d-flex justify-content-end mb-5 mt-2'>
										<div class='msg_time_send'>
											${log[i].split('（')[1].split('일')[1].split('시')[0].trim() + ":" + log[i].split('（')[1].split('시')[1].split('분')[0].trim()}
										</div>
										<div class='msg_cotainer_send'>
											<span class='msg_name_send'>나</span>
											${escapeHtml(log[i].split('：')[1].split('（')[0])}
										</div>
									</div>
								`);
							}
						}
					}
					
					$("#bodyChat").scrollTop($("#bodyChat")[0].scrollHeight);
					
					$("#saveLog").css('cursor', 'pointer');
					$("#saveLog").css('color', 'black');
					$("#saveLog").click(function(e) {
						location.href=`/admin/getUserChatLog/${currentSerialNo}?name=${data.stuinfo.name}&code=${data.stuinfo.code}`;
					});
					
					$('#btnSend').click(function(e) {
						let myMessage = $('#msgForm').val();
						socket.emit('logging', {
							empid: empid,
							stuno: data.stuinfo.code,
							log: `${empname} 선생님：${escapeHtml(myMessage).replace(/(\r\n\t|\n|\r\t)/gm," ")}${getLogTime()}\n`
						});

						if($("#msgForm").val() != "") {
							socket.emit("msg", $("#msgForm").val());
							$("#bodyChat").append(
								"<div class='d-flex justify-content-end mb-5 mt-2'>" +
									"<div class='msg_time_send'>" +
										("00" + new Date().getHours()).slice(-2) + ":" + ("00" + new Date().getMinutes()).slice(-2) +
									"</div>" +
									"<div class='msg_cotainer_send'>" +
										"<span class='msg_name_send'>나</span>" +
										escapeHtml(myMessage) +
									"</div>" +
								"</div>"
							);
							$("#bodyChat").scrollTop($("#bodyChat")[0].scrollHeight);
							$('#msgForm').val("");
						}
						else {
							$('#msgForm').focus();
						}
					});
					
					$("#msgForm").keydown(function(key) {
						if (key.keyCode == 13) $('#btnSend').click();
					});
				});
				
				socket.on("msg", function(data) {
					socket.emit('logging', {
						empid: empid,
						stuno: data.stuno,
						log: `${data.name} 학생：${escapeHtml(data.msg).replace(/(\r\n\t|\n|\r\t)/gm," ")}${getLogTime()}\n`
					});
					
					$("#bodyChat").append(`
						<div class='d-flex justify-content-start mb-5 mt-2'>
							<div class='msg_cotainer'>
								<span class='msg_name' style='cursor:pointer;'> ${data.name} 학생 </span>
								${escapeHtml(data.msg)}
							</div>
							<div class='msg_time'>
								${("00" + new Date().getHours()).slice(-2) + ":" + ("00" + new Date().getMinutes()).slice(-2)}
							</div>

							<div class='stuInfo' style='display:none; position:absolute; height:140px; width:240px; background-color:#3c4b64;
														border-radius:5px; padding:7px; line-height:30px; z-index:999;'>
								<div style='position:absolute; color:white'>
									<table>
										<tr>
											<td style='width:70px; font-weight:bold;'>
												학번
											</td>
											<td>
												${data.stuno}
											</td>
										</tr>
										<tr>
											<td style='width:70px; font-weight:bold;'>
												학과
											</td>
											<td>
												${data.major}
											</td>
										</tr>
										<tr>
											<td style='width:70px; font-weight:bold;'>
												전화번호
											</td>
											<td>
												${data.phone}
											</td>
										</tr>
										<tr>
											<td style='width:70px; font-weight:bold;'>
												생년월일
											</td>
											<td>
												${data.birth}
											</td>
										</tr>
									</table>
								</div>
							</div>
						</div>
					`);
					$("#bodyChat").scrollTop($("#bodyChat")[0].scrollHeight);
					
					$('.msg_name').unbind('click');
					$('.msg_name').click(function(e) {
						if($(this).parents(['.d-flex']).children('.stuInfo').is(':visible') == true) {
							$(this).parents(['.d-flex']).children('.stuInfo').slideToggle();
						}
						else {
							$('.stuInfo:visible').each(function (index, item) {
								$(this).hide();
							});
							$(this).parents(['.d-flex']).children('.stuInfo').slideToggle();
							$(this).parents(['.d-flex']).children('.stuInfo').offset({top: $(this).offset().top + 23, left: $(this).offset().left - 3});
						}
					});
				});
				
				socket.on("exit", function(data) {
					if(isProgress) {
						alert("학생에 의해 채팅이 종료되었습니다.");
						location.reload(true);
					}
				});
				
				$("#bodyChat").on('mousewheel',function(e){
					$('.stuInfo:visible').each(function (index, item) {
						$(this).hide();
					});
				});
				
				$("#bodyChat").on('scroll', function(e) {
					$('.stuInfo:visible').each(function (index, item) {
						$(this).offset({top: $(this).parents(['.d-flex']).children('.msg_cotainer').children('.msg_name').offset().top + 23,
										left: $(this).parents(['.d-flex']).children('.msg_cotainer').children('.msg_name').offset().left - 3});
					});
				});
				
				/*스케줄 캘린더 부분*/
				const container = document.getElementById('calendar');
			
				const options = {
					defaultView : 'day',
					taskView : false,
					useDetailPopup : true,
					isReadOnly : true
				}

				var Calendar = tui.Calendar;

				const calendar = new Calendar(container, options);

				const nowBtn = document.getElementById('nowBtn');
				const prevBtn = document.getElementById('prevBtn');
				const nextBtn = document.getElementById('nextBtn');

				const date = document.getElementById('date');

				calendar.setCalendars([
					{
						id: 'Reservation',
						name: '예약',
						color: '#ffffff',
						bgColor: '#0cb700',
						dragBgColor: '#0cb700',
						borderColor: '#0cb700'
					},
					{
						id: 'Meeting',
						name: '회의',
						color: '#ffffff',
						bgColor: '#0080d6',
						dragBgColor: '#0080d6',
						borderColor: '#0080d6'
					},
					{
						id: 'Reserved',
						name: '상담',
						color: '#ffffff',
						bgColor: '#ff008c',
						dragBgColor: '#ff008c',
						borderColor: '#ff008c'
					},
					{
						id: 'Finished',
						name: '종료',
						bgColor: '#707070',
						color: '#ffffff',
						dragBgColor: '#707070',
						borderColor: '#707070'
					}
				]); //캘린더 종류 등록
				
				$.ajax({
					type : "POST",
					dataType : "json",
					url : "./readMySchedule",
					async : true,
					data : {},
					success : function(data){
						let mySchedules = [];

						data.schedules.forEach((row) => {
							delete row.empid;
							row.id = row.scheduleno;

							mySchedules.push(row);
						});
						calendar.createSchedules(mySchedules);
					}
				});
				
				$.ajax({
					type: "POST",
					datatype : "json",
					url : "./readReservedSchedule",
					async : true,
					data : {},
					success : function(data){
						let reservedSchedules = [];

						data.reserved.forEach((row, index) => {
							delete row.empid;
							delete row.scheduleno;
							row.category = 'time';
							reservedSchedules.push(row);
						});
						calendar.createSchedules(reservedSchedules);
					}
				});

				calendar.on('beforeUpdateSchedule', event => {
					alert("예약 관련 스케줄은 수정할 수 없습니다.");
				});

				calendar.on('beforeDeleteSchedule', () =>{
					alert("예약 관련 스케줄은 삭제할 수 없습니다.");
				});

				date.textContent = `${calendar.getDate().getFullYear()}-${calendar.getDate().getMonth() + 1}`;

				nowBtn.addEventListener('click', () => {
					calendar.today();
					date.textContent = `${calendar.getDate().getFullYear()}-${calendar.getDate().getMonth() + 1}`;
				});

				prevBtn.addEventListener('click', () => {
					calendar.prev();
					date.textContent = `${calendar.getDate().getFullYear()}-${calendar.getDate().getMonth() + 1}`;
				});

				nextBtn.addEventListener('click', () => {
					calendar.next();
					date.textContent = `${calendar.getDate().getFullYear()}-${calendar.getDate().getMonth() + 1}`;
				});
			});
		</script>
	</body>
</html>
