<ul class="c-sidebar-nav">
	<%if(adminInfo.author===1){%>
	<li class="c-sidebar-nav-title">예약</li>
	<li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a
            class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
        <i class="cil-list-rich pr_30"></i>예약 리스트</a>
        <ul class="c-sidebar-nav-dropdown-items">
			<li class="c-sidebar-nav-item">
				<a class="c-sidebar-nav-link" href="/admin">예약 대기 리스트</a>
			</li>
			<li class="c-sidebar-nav-item">
				<a class="c-sidebar-nav-link" href="/admin/myReservation">내 예약 리스트</a>
			</li>
        </ul>
    </li>
	<%}%>
	<% if(adminInfo.author === 2) { %>
		<li class="c-sidebar-nav-title">메뉴</li>
	<% } %>
	<li class="c-sidebar-nav-item">
	<a class="c-sidebar-nav-link" href="/admin/schedule">
		<i class="cil-calendar pr_30"></i>
		스케줄</a>
	</li>
	
	<li class="c-sidebar-nav-item c-sidebar-nav-dropdown"><a
            class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
        <i class="cil-clipboard pr_30"></i>양식 항목</a>
        <ul class="c-sidebar-nav-dropdown-items">
			<li class="c-sidebar-nav-item">
				<a class="c-sidebar-nav-link" href="/admin/board/1" target="_top">
					 공지사항
				</a>
			</li>
			<li class="c-sidebar-nav-item">
				<a class="c-sidebar-nav-link" href="/admin/psychologicalType" target="_top">
					 심리검사 유형
				</a>
			</li>
			<li class="c-sidebar-nav-item">
				<a class="c-sidebar-nav-link" href="/admin/form/2" target="_top">
					 심리검사 질문
				</a>
			</li>
			<li class="c-sidebar-nav-item">
				<a class="c-sidebar-nav-link" href="/admin/form/1" target="_top">
					 상담예약 질문
				</a>
			</li>
			<li class="c-sidebar-nav-item">
				<a class="c-sidebar-nav-link" href="/admin/selfCheckForm" target="_top">
					 자가진단 질문
				</a>
			</li>
			<li class="c-sidebar-nav-item">
				<a class="c-sidebar-nav-link" href="/admin/form/3" target="_top">
					만족도조사 질문
				</a>
			</li>
        </ul>
    </li>
	
	<li class="c-sidebar-nav-title">문의</li>
	<li class="c-sidebar-nav-item">
		<a class="c-sidebar-nav-link" href="/admin/question" target="_top">
			<i class="cil-list-rich pr_30"></i>
				문의 대기 리스트</a>
		<a class="c-sidebar-nav-link" href="/admin/questionAnswer/1" target="_top">
			<i class="cil-clipboard pr_30"></i>
				문의 내역</a>
	</li>
	
	<%if(adminInfo.author===1){%>
	<li class="c-sidebar-nav-title">채팅</li>
	<li class="c-sidebar-nav-item">
		<a class="c-sidebar-nav-link" href="/admin/chat" target="_top">
			<i class="cil-user-plus pr_30"></i>
				채팅 상담</a>
		<a class="c-sidebar-nav-link" href="javascript:openExplanation('getAllChatLog');" target="_top">
			<i class="cil-save pr_30"></i>
				전체 채팅 내역 저장</a>
	</li>
	
	<li class="c-sidebar-nav-title">만족도조사</li>
	<li class="c-sidebar-nav-item">
		<a class="c-sidebar-nav-link" href="javascript:openExplanation('getSatisfactionResult');" target="_top">
			<i class="cil-save pr_30"></i>
				만족도조사 내역 저장</a>
	</li>
	
	<li class="c-sidebar-nav-title">관리자</li>
	<li class="c-sidebar-nav-item">
		<a class="c-sidebar-nav-link" href="/admin/signUp" target="_top">
			<i class="cil-user-plus pr_30"></i>
				관리자 등록</a>
		<a class="c-sidebar-nav-link" href="/admin/settings" target="_top">
			<i class="cil-people pr_30"></i>
				관리자 계정 관리</a>
	</li>
	<%}%>
</ul>
<script>
	function openExplanation(url) {
		let popup = {
			width: 500,
			height: 480
		};

		let pos = {
			x: (window.screen.width / 2) - (popup.width / 2),
			y: (window.screen.height / 2) - (popup.height / 2) - 50
		};
		
		window.open("/admin/explanation?url="+url, "FileSvaeExplanation",
					"width="+popup.width+", height="+popup.height+", left="+pos.x+", top="+pos.y+
					", toolbar=no, menubar=no, scrollbars=no, resizable=no", true);
	}
</script>