<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CoreUI CSS -->
    <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui/dist/css/coreui.min.css" crossorigin="anonymous">
    <title>유한대학교 학생상담센터</title>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/@coreui/icons@2.0.0-beta.3/css/all.min.css">
	<style>
		.pr_10{
			padding-right:10px;
		}
		.pr_30{
			padding-right:30px;
		}
		.error{
    		color: red;
		}
	</style>
</head>
<body class="c-app">
    <div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
                <%- include ('adminNav'); -%>
        <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent"
            data-class="c-sidebar-minimized"></button>
    </div>
    <div class="c-wrapper c-fixed-components">
        <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
            <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar"
                data-class="c-sidebar-show">
                <i class="cil-hamburger-menu"></i>
            </button><a class="c-header-brand d-lg-none" href="#">
                <i class="cil-hamburger-menu"></i></a>
            <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar"
                data-class="c-sidebar-lg-show" responsive="true">
                <i class="cil-hamburger-menu"></i>
            </button>
			<ul class="c-header-nav ml-auto mr-4">
                <%- include ('adminAccount'); -%>
            </ul>
            <div class="c-subheader px-3">
                <ol class="breadcrumb border-0 m-0">
                    <li class="breadcrumb-item">계정</li>
                    <li class="breadcrumb-item active">패스워드 변경</li>
                </ol>
            </div>
        </header>
        <div class="c-body">
            <main class="c-main">
                <div class="container-fluid">
                    <div class="fade-in">
                        <div class="card">
                            <div class="card-body">
                                <div class="m-auto" style="width:80%;">
                                    <div class="m-auto" style="width:85%;">
                                        <h4 class="card-title">패스워드 변경</h4>
                                        <form action="/admin/updatePassword" method="POST" id="validate">
                                          <div class="form-group">
                                            <label for="currentPw">현재 패스워드</label>
                                            <input type="password" class="form-control" id="currentPw"
												   placeholder="현재 패스워드를 입력해 주세요." name="currentPw" required>
                                          </div>
                                          <div class="form-group">
                                            <label for="updatePw">새 패스워드</label>
                                            <input type="password" class="form-control" id="updatePw"
												   placeholder="새 패스워드를 입력해 주세요." name="updatePw" required>
                                          </div>
										  <div class="form-group">
                                            <label for="updateRePw">새 패스워드 확인</label>
                                            <input type="password" class="form-control" id="updateRePw"
												   placeholder="새 패스워드를 다시 입력해 주세요." name="updateRePw" required>
                                          </div>
                                          <input type="submit" class="btn btn-primary float-right" value="변경">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="c-footer">
                <div><a href="https://coreui.io">CoreUI</a> &copy; 2020 creativeLabs.</div>
                <div class="ml-auto">Powered by&nbsp;<a href="https://coreui.io/">CoreUI</a></div>
            </footer>
        </div>
    </div>
	<script src="https://unpkg.com/@coreui/coreui/dist/js/coreui.bundle.min.js"></script>
	<script>
		$("#validate").validate({
		  rules: {
			updatePw: {
			  pw_regexp: true,
			  required: true,
			  minlength: 8,
			  maxlength : 20
			},
			updateRePw: {
			  required: true,
			  equalTo: "#updatePw"
			},
			currentPw: {
			  required: true
			},
		  },
		  //For custom messages
		  messages: {
			updatePw:{
				pw_regexp: "(8~20자의 영문, 숫자, 특수문자를 반드시 하나 이상 사용해야 합니다.)",
				minlength: "(8~20자의 영문, 숫자, 특수문자를 반드시 하나 이상 사용해야 합니다.)",
				maxlength: "(8~20자의 영문, 숫자, 특수문자를 반드시 하나 이상 사용해야 합니다.)"
			},
			updateRePw:{
				equalTo: "(패스워드가 일치하지 않습니다.)"
			},
		  },
		  errorElement : 'small',
		  errorPlacement: function(error, element) {
			var placement = $(element).data('error');
			if (placement) {
			  $(placement).prepend(error)
			} else {
			  error.insertBefore(element);
			}
		  }
		});
		
		$.extend($.validator.messages, {
			required: "(필수 항목입니다.)"
		});

		$.validator.addMethod("pw_regexp", function(value, element) {
			return this.optional(element) ||  /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,20}$/.test(value);
		});
	</script>
</body>
</html>

