<!DOCTYPE html>
<html>
	<head>
		<title>유한대학교 학생상담센터</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    	<script src="/js/jquery-latest.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
	</head>
	<body class="mx-auto" style="width:30%; padding-top:5%; background:#fafbfc;">
		<form method="post" action="/user">
			<div class="form-group">
				<div class="text-center mb-5">
					<img src="/images/logo.png"  style="max-width : 400px; max-height: 400px; width: auto; height: auto; margin-bottom:40px;">	
				</div>
				<label><b>아이디</b></label>
				<input type="text" class="form-control mb-2 pt-2 pb-2" placeholder="Enter ID" name="userId" required>
			</div>
			<div class="form-group">
				<label><b>비밀번호</b></label>
				<input type="password" class="form-control mb-4 pt-2 pb-2" placeholder="Enter Password" name="password" required>
				<button type="submit" class="btn btn-primary float-right pt-2 pb-2" style="width:100%; font-size:120%;">로그인</button>	
			</div>
		</form>
	</body>
</html>
