<!DOCTYPE html>
<html>
	<head>
		<title>메인 페이지</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<h3><%= username %>님 환영합니다.</h3>
		<button onclick="location.href='/user/reservation'">예약</button>
		<button onclick="location.href='/chat'">채팅</button>
		<button onclick="location.href='/user/logout'">로그아웃</button>
	</body>
</html>