<!DOCTYPE html>
<html>
	<head>
		<title>유한대학교 학생상담센터</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
		<script src="/js/jquery-latest.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
			html, body{
				height:100%;
				width:100%;
			}
			.fade-text{
				font-size:150%;
				color:#494949;
				animation: fadein-text 3s;
  				-moz-animation: fadein-text 3s; /* Firefox */
  				-webkit-animation: fadein-text 3s; /* Safari and Chrome */
  				-o-animation: fadein-text 3s; /* Opera */
			}
			.fade-app {
				font-size:80%;
				color:#444444;
  				animation: fadein-app 3s;
  				-moz-animation: fadein-app 3s; /* Firefox */
  				-webkit-animation: fadein-app 3s; /* Safari and Chrome */
  				-o-animation: fadein-app 3s; /* Opera */
			}
			@keyframes fadein-text{
				from{
					opacity: 0;
					transform: translateY(50%);
				}
				to{
					opacity: 1;
					transform: translateY(0);
				}
			}
			@keyframes fadein-app{
				from{
					opacity: 0;
				}
				to{
					opacity: 1;
				}
			}
		</style>
	</head>
	<body>
		<div class="container-fluid">
			<div class="row pt-4" style="margin-bottom:10px;">
				<div class="fade-text col align-self-center text-center" style="color:#1a1a1a;">
					<label>무엇이든 물어보세요!</label>
				</div>
			</div>
			<form method="POST" style="height:inherit;">
				<div class="form-group">
					<label for="questionTypeList"><b>문의 유형</b></label>
					<select class="form-control" id="questionTypeList" name="questionType">
					  <option value="시스템">시스템 문의</option>
					  <option value="상담">상담 문의</option>
					</select>
				</div>
				<div class="form-group">
					<label><b>제목</b></label>
					<input type="text" class="form-control form-control" placeholder="제목을 입력하세요." id="questionTitle" name="questionTitle" required>
				</div>
				<div class="form-group">
					<label><b>내용</b></label>
					<textarea class="form-control" id="questionText" name="questionText" placeholder="내용을 입력하세요." style="resize:none; height:500px;" required></textarea>
				</div>
				<div class="row">
					<div class="col text-right">
						<input type="submit" class="btn btn-submit btn-primary mb-4" id="btnNext" value="작 성">
					</div>
				</div>
			</form>
		</div>
		<script>
			$(function() {
				const initHeight = document.body.clientHeight;
				const textareaY = document.getElementById('questionText').getBoundingClientRect().y;
				$('#questionText').css('height', initHeight - textareaY - $('#btnNext').height() - 54);
				
				$("#btnNext").click(function(){
					if(!$('#questionTitle').val() == ""){
						if(!$('#questionText').val() == ""){
							alert("문의 작성이 완료되었습니다.");
							window.flutter_inappwebview
								.callHandler('PageHandler', 'replaceMain');
						}
					}
				});
				
				window.onresize = function(event) {
					if(document.body.clientHeight === initHeight) document.activeElement.blur();
					else document.activeElement.scrollIntoView({block: "center"});
				};
				
				$('input[type="text"]').focus(function(){
					document.activeElement.scrollIntoView({block: "center"});
				});
				
				$('textarea').focus(function(){
					document.activeElement.scrollIntoView({block: "center"});
				});
			});
		</script>
	</body>
</html>